body {
    font: 20px arial, sans-serif;
}

.navbar {
    background-color: #34495E;
}

.quem-somos {
    background-color: white;
    color: #333131;
}

.margin {
    padding-bottom: 35px;
    padding-top: 15px;
}

.produtos {
    background-color: #34495E;
    color: white;
}

.ondeestamos {
    background-color: white;
    color: #333131;
}

.contato {
    background-color: #34495E;
    color: white;
}

.contact-list {
    list-style-type: none;
    text-align: center;
    color: white;
    text-decoration-line: none;
}

.bg-footer {
    background-color: white;
    color: black;
    text-decoration-line: none;
}

.karin {
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}